<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %} {% endblock %}</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/base.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/external.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/sidebar.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/navbar.min.css') }}"
    />

    {% block css %} {% endblock %}
  </head>

  <body>
    <!-- <div class="sidenav">{% include 'shared/sidebar.html' %}</div> -->
    <div class="nav-bar">{% include 'shared/navbar.html' %}</div>
    <div class="main">{% block content %} {% endblock %}</div>

    <!-- Botão volta ao topo -->
    <div class="smoothscroll-top">
      <span class="scroll-top-inner">
        <i class="fa fa-2x fa-arrow-circle-up"></i>
      </span>
    </div>

    <!-- Javascript -->
   .-
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
      integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
      integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="{{ url_for('static', filename='js/jQuery.print.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>

    {% block js %} {% endblock %}
  </body>
</html>
