<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %} {% endblock %}</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/base.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/external.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/sidebar.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/navbar.min.css') }}"
    />

    {% block css %} {% endblock %}
  </head>

  <body>
    <!-- <div class="sidenav">{% include 'shared/sidebar.html' %}</div> -->
    <div class="nav-bar">{% include 'shared/navbar.html' %}</div>
    <div class="main">{% block content %} {% endblock %}</div>

    <!-- Botão volta ao topo -->
    <div class="seta-top">
      <span class="scroll-top-inner">
        <i class="fa fa-2x fa-arrow-circle-up"></i>
      </span>
    </div>

    <!-- Javascript -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>

    {% block js %} {% endblock %}
  </body>
</html>
