.list-curriculo {
  font-family: "PT Sans Narrow", sans-serif;
  max-width: 992px;
  
}

.add_new {
  float: right;
  margin: 1rem 0;
  width: 180px;
  height: 45px;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  border-radius: 45px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  border: solid 1px #f4f1de;
  background-color: #fdffb6;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  color: #335c67;
}

.add_new:hover {
  background-color: #fff;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
  border: solid 1px #f8f9fa;
  color: #335c67;
  transform: translateY(-7px);
}

.zui-table {
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
}
.zui-table thead th {
    color: #336B6B;
    padding: 9px 0 7px 10px;
    font-weight: normal; 
    font-size: .7rem;
}

.zui-table-rounded, .zui-table-rounded thead th {
    border: none;
}
.zui-table-rounded thead th:first-child {
    border-radius: 4px 0 0 0;
}
.zui-table-rounded thead th:last-child {
    border-radius: 0 4px 0 0;
}
