$profissional-experiencias-empresa-nome: #bc6c25;
$profissional-varios-instituicao: #bc6c25;
.a4 {
  color: #2c3e50 !important;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;

  .pessoal {
    background-color: #fff;
    .nome {
      background: url("../img/aldeia-naruto.png");
      background-repeat: no-repeat;
      background-position: top 10px right 10px;
      background-size: 50px auto;
      color: #bc6c25;
      background-color: #fec89a;
    }
  }

  .profissional {
    background: url("../img/kakashi.jpg"), url("../img/simbolo-naruto.png"),
      url("../img/naruto.jpg");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: bottom 0px left 170px, top -25px right 0px,
      bottom 2px left 100px;
    background-size: 250px auto, auto 310px, 110px auto;
    background-color: #fff;

    .objetivo {
      margin-top: 3rem;
      .hr {
        max-width: 26rem;
      }
    }

    .experiencias {
      .empresa {
        .nome {
          color: $profissional-experiencias-empresa-nome;
        }
      }
    }

    .competencias {
      .hr {
        max-width: 25rem;
      }
    }

    .varios {
      .formacao {
        .descricao {
          .instituicao {
            color: $profissional-varios-instituicao;
          }
        }
      }
    }

    .assinatura {
      margin: 2rem;
      img {
        float: right;
        -webkit-filter: none;
        filter: none;
      }
      .cpfass {
        margin-left: auto;
        margin-right: 1rem;
        font-family: "Patrick Hand", cursive;
        margin-top: -0.5rem;
        width: 9rem;
        border-top: dotted 1px #ddd;
      }
    }
  }
}
