.a4 {
  color: #666 !important;

  .pessoal {
    background-color: #e5e5e5;

    .nome {
      background-color: #1b7ea2;
    }
  }

  .profissional {
    .experiencias {
      .empresa {
        .nome {
          color: #1aa2d3;
        }
      }
    }
  }
}
