$A4-color: #666;
$pessoal-background-color: #e5e5e5;
$nome-background-color: #1b7ea2;
$profissional-experiencias-empresa-nome: #1aa2d3;

.a4 {
  
  color: $A4-color;
  .pessoal {
    background-color: $body-background-color;

    .nome {
      background-color: $nome-background-color;
    }
  }

  .profissional {
    .experiencias {
      .empresa {
        .nome {
          color: $profissional-experiencias-empresa-nome;
        }
      }
    }
  }
}
