$A4-color: #fff;
$pessoal-background-color: #e5e5e5;
$nome-background-color: #333;
$profissional-experiencias-empresa-nome: #fff;
$A4-webkit-box-direction: reverse;
$A4-ms-flex-direction: row-reverse;
$A4-flex-direction: row-reverse;
$pessoal-nome-background-color: #333;
$profissional-background: url("../img/metal.jpg");
$profissional-background-repeat: repeat;
$profissional-background-position: left top 0px;
$profissional-experiencias-empresa-nome: #fff;

$profissional-varios-formacao-instituicao-color: #fff;
$profissional-varios-formacao-instituicao-font-weight: bold;



.a4 {
  -webkit-box-direction: $A4-webkit-box-direction;
  -ms-flex-direction: $A4-ms-flex-direction;
  flex-direction: $A4-flex-direction;
  color: $A4-color;
  .pessoal {
    background-color: $body-background-color;
    float: right;

    .nome {
      background-color: $pessoal-nome-background-color;
    }
  }

  .profissional {
    background: $profissional-background;
    background-repeat: $profissional-background-repeat;
    background-position: $profissional-background-position;

    .experiencias {
      .empresa {
        .nome {
          color: $profissional-experiencias-empresa-nome;
        }
      }
    }

    .varios {
      .row {
        .formacao {
          .instituicao {
            color: $profissional-varios-formacao-instituicao-color;
            font-weight: $profissional-varios-formacao-instituicao-font-weight;
          }
        }
      }
    }

  }
}
