$profissional-experiencias-empresa-nome: #16a085;

.a4 {
  color: #aaa;
  i {
    color: #16a085;
  }
  .header {
    color: #16a085;
  }

  .pessoal {
    background-color: #eafaf1;
    float: right;

    .nome {
      background-color: #117864;
    }
  }

  .profissional {
    background: url("../img/saude.jpg");
    background-repeat: no-repeat;
    background-position: left top 0px;
    background-color: white;
    background-size: 550px auto;


    .experiencias {
      .empresa {
        .nome {
          color: $profissional-experiencias-empresa-nome;
        }
      }
    }




    .varios {
      .row {
        .formacao {
          .instituicao {
            color: #aaa;
            font-weight: bold;
          }
        }
      }
    }
  }
}
