/* Variáveis
   ------------------  */
$A4-color: #666 !default;
$A4-webkit-box-direction: none !default;
$A4-ms-flex-direction: none !default;
$A4-flex-direction: none !default;
$A4-font-family: "PT Sans Narrow", sans-serif;


$body-background-color: #e5e5e5 !default;
$pessoal-background-color: #fff !default;
$pessoal-nome-background-color: #1b7ea2;
$profissional-experiencias-empresa-nome: #1aa2d3;

